body{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(39, 38, 38);
}
h1{
    margin: 30px;
}
.headings{
    font-size: x-large;
}
img{
    height: 300px;
    width: auto;
    border: 1px solid rgb(245, 242, 242);
    border-radius: 4px;
    padding: 5px;
  
   
  
}