body
{margin: 0;
padding: 0;
background-color:rgb(39, 38, 38);
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin: 0px;
    padding: 0px;
    color:rgb(232, 231, 235);
    text-align: justify;
    
   
}


img{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: block;
    border-radius: 20px;
    width: auto;
    height: 220px;
}
div a{
    margin: 5px;
    padding: 5px;
    display: block;
    text-align: center;
    color:limegreen;
  
}

.list p{
   
    color:rgb(176, 221, 14);
   
    
}



hr{
    
    color: rgb(226, 226, 225);
}